<h1>Christiaan Wolmarans</h1>

<section class="home">
    <div class="home-text">
      <h1>Welcome to CSE Motors</h1>
      <p>Your one-stop shop for reliable and stylish vehicles. Browse our collection of custom cars, sedans, SUVs, and trucks.</p>
    </div>
    <div class="home-image">
      <img src="/images/vehicles/adventador-tn.jpg" alt="Showroom with various cars" />
    </div>
  </section>